extends ./common/layout.pug

block content
  section.section
    .container
      h1.title.is-1 Security Demos
      p.subtitle.is-1 Don't try this at home

      .columns.is-multiline.is-mobile
        .column(style="min-width: 350px")
          .notification.is-danger
            h2.title Injection
            p.subtitle SQL Injection Example
            p
              a.button.is-danger.is-inverted.is-outlined(href="/injection") Try out

        .column(style="min-width: 350px")
          .notification.is-primary
            h2.title Broken Authentication
            p.subtitle Brute Force Password Example
            p
              a.button.is-primary.is-inverted.is-outlined(href="/broken-auth") Try out

        .column(style="min-width: 350px")
          .notification.is-warning
            h2.title Sensitive Exposure
            p.subtitle Unsalted Hash Password Example
            p
              a.button.is-warning.is-inverted.is-outlined(href="/sensitive-exposure") Try out

        .column(style="min-width: 350px")
          .notification.is-link
            h2.title Broken Access Control
            p.subtitle URL Parameter Hacking Example
            p
              a.button.is-link.is-inverted.is-outlined(href="/broken-ac") Try out

        .column(style="min-width: 350px")
          .notification.is-success
            h2.title Cross Site Scripting
            p.subtitle URL Parameter XSS Example
            p
              a.button.is-success.is-inverted.is-outlined(href="/unsafe-xss") Try out
