doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title The Hacker Cracker

    style
      | body { background-color: #000; color: #fff; text-align: center; }

  body
    h1 Hahaha!

    p We got your credentials!

    pre
      code= jar

    img(src="https://gigaom.com/wp-content/uploads/sites/1/2013/07/hacker-cyber-attack-640x522.jpg")
