extends ../common/layout.pug

block content
  section.section
    .container
      h1.title.is-1= user.email
      p.subtitle.is-1= user.password

      .content
        .notification.is-warning
          p
            |  You can use a tool like
            a(href="https://crackstation.net/" target="_blank")  CrackStation
            |  to decode the above password hash.
