doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1")
    title Security Labs - #{title}
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.1/css/bulma.min.css")

  body
    nav.navbar(role="navigation" aria-label="main navigation")
      .navbar-brand
        a.navbar-item(href="/")
          img(src="https://uploads-ssl.webflow.com/636904f4f2a6882ecff68937/636906b4a54ebdb48ded09c7_tm-techmongers-320x132.png" alt="Techmongers: Security Labs" height="66")
        a.navbar-item(href="/")  All Security Labs

    block content

    footer.footer
      .container
        .content.has-text-centered
          p
            strong Security Labs
            |  Do NOT try this at home... :)
          p
            | Source code:
            a(href="https://github.com/MindgymAcademy/security-demos")  Github
